@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Colour Palette */

/* Yellow - #F7BA00 */


/* Containers */

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url(../img/whiskey-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    callout design*/
    position: relative;
}

/*Content container allows for increased space via padding around the content
to give impression of text not being too cramped*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar - Classes have been expanded upon to help override the
specificity issues contained within the original Google Chrome
code copied into the CSS file*/

#navbarSupportedContent ul li a {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #D0D0D0;
  /* Silver Grey */
  cursor: pointer;
}

#navbarSupportedContent ul li a:hover {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #F7BA00;
  /* Yellow */
  cursor: pointer;
  transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
    transform: scale(1.15);
    opacity: 0.9;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #FFFFFF;
    /* White */
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #FFFFFF;
    /* White */
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 2px;
    border: 0;
    background-color: #f05f40;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn-register {
    /*Buttons used for checking availability & ordering concert tickets*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #F05F40;
    /*Orange*/
    color: #F05F40;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-register:hover {
    background-color: #F05F40;
    /*Orange*/
    border: 0.1rem solid #F05F40;
    color: #FAFAFA;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
    /*creates further space in features categories*/
}

/*Creating a Block display allows the font (not icon) to move to a new row &
sit at the top of the text. The font can then be re-sized
Glyphicons are not images, but they are fonts*/

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

/* Media Queries */

@media (min-width: 375px) and (orientation: portrait) {
    .callout-container {
        /* Mobile view in portrait mode */
        height: 110vh;
    }
    #navbarSupportedContent ul li a:hover {
        transform: scale(1.00);
    }
}

@media (min-width: 667px) and (orientation: landscape) {
    .callout-container {
        /* Mobile view in landscape mode */
        height: 150vh;
    }
    .jumbotron .lead {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in portrait mode */
        height: 100vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}

@media (min-width: 700px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}