@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    /* removes bullet points from unordered list */
    list-style-type: none;
}

.about p::first-letter {
    /*About story 1st letter of each paragraph formatted to stand out to user*/
    font-size: 2rem;
    font-style: oblique;
    color: #F7BA00;
}

/* Colour Palette */

/* Yellow - #F7BA00 */
/* Orange - #F05F40 */
/* Charcoal Grey - #343A40 */
/* Pencil Grey - #BFBFBF */
/* White - #FFFFFF */


/* Containers */

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url(../img/whiskey-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    callout design*/
    position: relative;
}

.all-quotes {
    /* Required to manage the centering of all quotes on all devices */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 1rem;
  height: 16rem;
  width: 16rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote-container::after {
  content: "";
  clear: both;
  display: table;
}

.quote-container img {
  float: left;
  margin-right: 0.625rem;
  border-radius: 50%;
}

.quote-container span {
  font-size: 1.25rem;
}

body, html {
  height: 100%;
}

.barrels {
  /* The image used in about.html page */
   background-image: url(../img/barrels.jpg);

  /* Full height */
  height: 37.5rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass {
  /* The image used in about.html page */
   background-image: url(../img/glass.jpg);

  /* Full height */
  height: 25rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottle {
  /* The image used in about.html page */
   background-image: url(../img/bottles.jpg);

  /* Full height */
  height: 28.125rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-start,
.about-drink,
.about-bottles {
  position: relative; /* Position the background text */
  top: 50%;
  left: 0;
  text-align: center;
  font-size: 3rem;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.15); /* Black background with 0.15 opacity */
  color: #f1f1f1; /* Grey text */
  width: 70%; /* partial width */
  padding: 1.25rem; 
}

.about-info {
    /* write up for about.html page containers */
    color: #BFBFBF;
    /* Pencil Grey */
    background-color: #FFFFFF;
    text-align: justify;
    padding: 3.125rem 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.about-glass {
    /* write up for about.html page containers */
    color: #FFFFFF;
    /* White */
    background-color: #F05F40;
    /* Orange */
    text-align: justify;
    padding: 3.125rem 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.about-bottle {
    /* write up for about.html page containers */
    color: #D0D0D0;
    /* White */
    background-color: #343A40;
    /* Charcoal Grey */
    text-align: justify;
    padding: 3.125rem 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* gallery.html */

#gallery {
   /* The image used in about.html page */
   background-image: url(../img/gallery-background.jpg); 
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  padding-top: 6rem;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row-gallery {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row-gallery,
.row-gallery > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row-gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn-view {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn-view:hover {
  background-color: #ddd;
}

.btn-view.active {
  background-color: #666;
  color: white;
}

/* Navbar - Classes have been expanded upon to help override the
specificity issues contained within the original Google Chrome
code copied into the CSS file*/

#navbarSupportedContent ul li a {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #D0D0D0;
  /* Silver Grey */
  cursor: pointer;
}

#navbarSupportedContent ul li a:hover {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #F7BA00;
  /* Yellow */
  cursor: pointer;
  transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
    opacity: 0.9;
    font-weight: 400;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #FFFFFF;
    /* White */
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #FFFFFF;
    /* White */
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 2px;
    border: 0;
    background-color: #f05f40;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn-register {
    /*Button used for signing upto Whiskey-Drop club*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #F05F40;
    /*Orange*/
    border-radius: 0.5rem;
    color: #F05F40;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-register:hover {
    background-color: #343A40;
    /*Charcoal Grey*/
    border: 0.1rem solid #343A40;
    /*Charcoal Grey*/
    border-radius: 0.5rem;
    color: #F7BA00;
    /*Yellow*/
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

.btn-read {
    /*Buttons used for accessing modal pop up window for extra user information*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #343A40;
    /*Charcoal Grey*/
    border-radius: 0.5rem;
    color: #343A40;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-read:hover {
    background-color: #343A40;
    /*Charcoal Grey*/
    border: 0.1rem solid #343A40;
    border-radius: 0.5rem;
    color: #F7BA00;
    /*Yellow*/
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

/* Features */

.fa-glass-whiskey {
    display: block;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

/* Images */

/* Modals */

.modal-header,
.whiskey-words,
.close {
    color: #FFFFFF;
}

.close:hover {
    color: #F7BA00;
}

.modal-content {
    background-color: #343A40;
}

.form-group {
    color: #FFFFFF;
}

/* Social Media */

.social-links {
    padding-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    /*Enables creation of circle where width & height of same value*/
    font-size: 0.8125rem;
    /*Enables icon to sit within border*/
    line-height: 0.4375rem;
    text-align: center;
    color: #fafafa;
    /*off-white*/
    background: #8f8f8f;
    /*pale grey*/
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

.social-links li a i:hover {
    background: #F7BA00;
    /*Yellow*/
    color: #343A40;
    /* Charcoal Grey */
    transform: scale(1.15);
    opacity: 0.9;
}

.social {
    color: #FFFFFF;
    /* White */
}

/* Monthly Favourites */

.dot {
  /* Dot is a scale of whiskey product preference that appears on index.html page */    
  height: 1.2rem;
  width: 1.2rem;
  background-color: #F05F40;
  /* Orange */
  border-radius: 50%;
  display: inline-block;
}

.empty-dot {
  /* Empty Dot is an opportunity to improve customer ratings on index.html page */    
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid #F05F40;
  /* Orange */
  border-radius: 50%;
  display: inline-block;
}

/* Footer */

#footer {
    background-color: #343A40;
    /*Charcoal Grey*/
    border-color: #343A40;
    /*Charcoal Grey*/
}

.footer-text li a {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    /*White*/
}

.lower-footer,
.drinkaware {
    color: #FFFFFF;
    /*White*/
}

.footer-text li a:hover,
.drinkaware:hover {
    color: #F7BA00;
    /* Yellow */
}

/* Media Queries */

@media (max-width: 500px) {
  .quote-container {
      text-align: center;
  }
  .quote-container img {
      margin: auto;
      float: none;
      display: block;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
    .callout-container {
        /* Mobile view in portrait mode */
        height: 110vh;
    }
}

@media (min-width: 667px) and (orientation: landscape) {
    .callout-container {
        /* Mobile view in landscape mode */
        height: 150vh;
    }
    .jumbotron .lead {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in portrait mode */
        height: 100vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}

@media (min-width: 700px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}