@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*----------Special Padding / Margin / Text----------*/

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Colour Palette */

/* Yellow - #F7BA00 */
/* Orange - #F05F40 */
/* Charcoal Grey - #343A40 */
/* White - #FFFFFF */


/* Containers */

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url(../img/whiskey-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    callout design*/
    position: relative;
}

.all-quotes {
    /* Required to manage the centering of all quotes on all devices */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 1rem;
  height: 16rem;
  width: 16rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote-container::after {
  content: "";
  clear: both;
  display: table;
}

.quote-container img {
  float: left;
  margin-right: 0.625rem;
  border-radius: 50%;
}

.quote-container span {
  font-size: 1.25rem;
}

/* Navbar - Classes have been expanded upon to help override the
specificity issues contained within the original Google Chrome
code copied into the CSS file*/

#navbarSupportedContent ul li a {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #D0D0D0;
  /* Silver Grey */
  cursor: pointer;
}

#navbarSupportedContent ul li a:hover {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #F7BA00;
  /* Yellow */
  cursor: pointer;
  transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
    opacity: 0.9;
    font-weight: 400;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #FFFFFF;
    /* White */
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #FFFFFF;
    /* White */
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 2px;
    border: 0;
    background-color: #f05f40;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn-register {
    /*Button used for signing upto Whiskey-Drop club*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #F05F40;
    /*Orange*/
    color: #F05F40;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-register:hover {
    background-color: #F05F40;
    /*Orange*/
    border: 0.1rem solid #F05F40;
    color: #FAFAFA;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

.btn-read {
    /*Buttons used for accessing modal pop up window for extra user information*/
    background-color: #FFFFFF;
    /*White*/
    border: 0.1rem solid #343A40;
    /*Charcoal Grey*/
    border-radius: 0.5rem;
    color: #343A40;
    font-weight: 600;
    cursor: pointer;
    /* Add a mouse pointer on hover */
}

.btn-read:hover {
    background-color: #343A40;
    /*Charcoal Grey*/
    border: 0.1rem solid #343A40;
    border-radius: 0.5rem;
    color: #F7BA00;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.35s ease-in-out;
    /*Apple*/
}

/* Features */

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

/* Images */

/* Media Queries */

@media (max-width: 500px) {
  .quote-container {
      text-align: center;
  }
  .quote-container img {
      margin: auto;
      float: none;
      display: block;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
    .callout-container {
        /* Mobile view in portrait mode */
        height: 110vh;
    }
}

@media (min-width: 667px) and (orientation: landscape) {
    .callout-container {
        /* Mobile view in landscape mode */
        height: 150vh;
    }
    .jumbotron .lead {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in portrait mode */
        height: 100vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}

@media (min-width: 700px) and (orientation: portrait) {
    .callout-container {
        /* Tablet view in landscape mode */
        height: 100vh;
    }
}